<div class="card">
    <div class="card-content">
        <a class="card-title" href="/song/{{id}}">
            {{ content }}
        </a>
    </div>
    <div class="card-action">
        <a href="/user/{{ author.id }}" class="">{{ author.local.email }}</a>
        <span class="song__date">{{ createdAt }}</span>
        <span class="song_comments">{{ comments.length }} Comments</span>
        <form class="" action="/song/{{id}}?_method=DELETE" method="POST">
            <button type="submit" name="button">Delete</button>
        </form>

        <form class="" action="/song/{{id}}?_method=EDIT" method="POST">
            <button type="submit" name="button">Edit</button>
        </form>
        {{!--
        <li>
            <a href="/{{this.id}}">{{this.title}}</a>
            <a href="edit/{{this.id}}"></a>
        </li> --}}



    </div>
</div>